<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktop-6onfmg6\sqlexpress.QUANLYBIDA.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-6ONFMG6\SQLEXPRESS;integrated security=SSPI;initial catalog=QUANLYBIDA" />
        <add name="DESKTOP-6ONFMG6\SQLEXPRESS_QUANLYBIDA_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-6ONFMG6\SQLEXPRESS;integrated security=SSPI;initial catalog=QUANLYBIDA" />
        <add name="QuanLyBilliard.Properties.Settings.QUANLYBIDAConnectionString"
            connectionString="Data Source=DESKTOP-6ONFMG6\SQLEXPRESS;Initial Catalog=QUANLYBIDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>