<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-6onfmg6\sqlexpress.QUANLYBIDA.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-6ONFMG6\SQLEXPRESS;integrated security=SSPI;initial catalog=QUANLYBIDA" />
        <add name="DESKTOP-6ONFMG6\SQLEXPRESS_QUANLYBIDA_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-6ONFMG6\SQLEXPRESS;integrated security=SSPI;initial catalog=QUANLYBIDA" />
    </connectionStrings>
</configuration>