USE [QUANLYBIDA]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID_BAN] [int] IDENTITY(1,1) NOT NULL,
	[TENBAN] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[GIOVAO] [datetime] NULL,
	[GIORA] [datetime] NULL,
	[ID_LOAIBAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAPBAC]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAPBAC](
	[ID_CAPBAC] [int] IDENTITY(1,1) NOT NULL,
	[TENCAPBAC] [nvarchar](100) NOT NULL,
	[HESOLUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CAPBAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HOADONNHAP]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADONNHAP](
	[ID_HOADONNHAP] [int] NOT NULL,
	[ID_THUCPHAM] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [float] NULL,
 CONSTRAINT [KHOA_CHITIETNHAP] PRIMARY KEY CLUSTERED 
(
	[ID_HOADONNHAP] ASC,
	[ID_THUCPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[ID_HOADON] [int] NOT NULL,
	[ID_THUCPHAM] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [KHOA_CTHD] PRIMARY KEY CLUSTERED 
(
	[ID_HOADON] ASC,
	[ID_THUCPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[TENDANGNHAP] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[ID_GIAMGIA] [int] IDENTITY(1,1) NOT NULL,
	[TENGIAMGIA] [nvarchar](100) NOT NULL,
	[GIAMGIAGIO] [float] NULL,
	[GIAMGIATHUCPHAM] [float] NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID_HOADON] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAN] [int] NULL,
	[ID_NHANVIEN] [int] NULL,
	[ID_KHACHHANG] [int] NULL,
	[ID_GIAMGIA] [int] NULL,
	[GIAMGIAGIO] [float] NULL,
	[GIAMGIATHUCPHAM] [float] NULL,
	[TONGGIOCHOI] [datetime] NULL,
	[DATHANHTOAN] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[ID_HOADONNHAP] [int] IDENTITY(1,1) NOT NULL,
	[ID_TENHOADONNHAP] [nvarchar](100) NULL,
	[NGAYNHAP] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HOADONNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID_KHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NOT NULL,
	[SODIENTHOAI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [bit] NULL,
	[GUICO] [bit] NOT NULL,
	[ID_LOAIKHACHHANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIBAN]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIBAN](
	[ID_LOAIBAN] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NOT NULL,
	[GIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAIBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[ID_LOAIKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIKHACHHANG] [nvarchar](100) NULL,
	[GIAMGIAGIO] [float] NULL,
	[GIAMGIATHUCPHAM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAIKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITHUCPHAM]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHUCPHAM](
	[ID_LOAITHUCPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITHUCPHAM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAITHUCPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[ID_LUONG] [int] IDENTITY(1,1) NOT NULL,
	[ID_NHANVIEN] [int] NULL,
	[SONGAYCONG] [int] NULL,
	[PHUCAP] [float] NULL,
	[THUONG] [float] NULL,
	[PHAT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID_NHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_NHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[CMND] [nvarchar](100) NOT NULL,
	[SODIENTHOAI] [nvarchar](100) NULL,
	[GIOITINH] [bit] NULL,
	[ID_CAPBAC] [int] NULL,
	[CATRUC] [nvarchar](100) NULL,
	[TENDANGNHAP] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[ID_QUYEN] [int] NOT NULL,
	[ID_CAPBAC] [int] NOT NULL,
 CONSTRAINT [KHOA_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC,
	[ID_CAPBAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[ID_QUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUCPHAM]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCPHAM](
	[ID_THUCPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUCPHAM] [nvarchar](100) NOT NULL,
	[DVT] [nvarchar](100) NULL,
	[ID_LOAITHUCPHAM] [int] NOT NULL,
	[GIABAN] [float] NULL,
	[ID_NHACUNGCAP] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_THUCPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD FOREIGN KEY([ID_LOAIBAN])
REFERENCES [dbo].[LOAIBAN] ([ID_LOAIBAN])
GO
ALTER TABLE [dbo].[CHITIET_HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([ID_HOADONNHAP])
REFERENCES [dbo].[HOADONNHAP] ([ID_HOADONNHAP])
GO
ALTER TABLE [dbo].[CHITIET_HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([ID_THUCPHAM])
REFERENCES [dbo].[THUCPHAM] ([ID_THUCPHAM])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([ID_HOADON])
REFERENCES [dbo].[HOADON] ([ID_HOADON])
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD FOREIGN KEY([ID_THUCPHAM])
REFERENCES [dbo].[THUCPHAM] ([ID_THUCPHAM])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_BAN])
REFERENCES [dbo].[BAN] ([ID_BAN])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_GIAMGIA])
REFERENCES [dbo].[GIAMGIA] ([ID_GIAMGIA])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([ID_KHACHHANG])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([ID_LOAIKHACHHANG])
REFERENCES [dbo].[LOAIKHACHHANG] ([ID_LOAIKHACHHANG])
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([ID_CAPBAC])
REFERENCES [dbo].[CAPBAC] ([ID_CAPBAC])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[DANGNHAP] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([ID_CAPBAC])
REFERENCES [dbo].[CAPBAC] ([ID_CAPBAC])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[QUYEN] ([ID_QUYEN])
GO
ALTER TABLE [dbo].[THUCPHAM]  WITH CHECK ADD FOREIGN KEY([ID_LOAITHUCPHAM])
REFERENCES [dbo].[LOAITHUCPHAM] ([ID_LOAITHUCPHAM])
GO
ALTER TABLE [dbo].[THUCPHAM]  WITH CHECK ADD FOREIGN KEY([ID_NHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NHACUNGCAP])
GO
/****** Object:  StoredProcedure [dbo].[BATGIO]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BATGIO]
@id int
as
begin
	insert into HOADON
	values (@id,NULL,NULL,NULL,NULL,NULL,0,0);

	update BAN 
	set trangthai = 1, GIOVAO = GETDATE(), GIORA = NULL 
	where ID_BAN = @id;
end

GO
/****** Object:  StoredProcedure [dbo].[chuyenban]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[chuyenban]
@curr int,
@taget int
as
begin
update ban set TRANGTHAI =1,GIOVAO=(select GIOVAO from BAN where ID_BAN=@curr),GIORA = null where ID_BAN=@taget
Update ban set TRANGTHAI = 0,GIOVAO=null,GIORA=null where ID_BAN=@curr
update HOADON set ID_BAN = @taget where ID_HOADON = (select top 1 (ID_HOADON) from HOADON where ID_BAN = @curr order by ID_HOADON desc)
end
GO
/****** Object:  StoredProcedure [dbo].[SuaSoLuongThucPhamKhiThemHang]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaSoLuongThucPhamKhiThemHang]
@id_hoadon int,
@soluong int,
@id_thucpham int
as
begin
	update CHITIETHD
	set SOLUONG = SOLUONG + @soluong
	where ID_HOADON = @id_hoadon and ID_THUCPHAM= @id_thucpham

	update THUCPHAM
	set SOLUONG = SOLUONG - @soluong
	where ID_THUCPHAM = @id_thucpham
end
GO
/****** Object:  StoredProcedure [dbo].[TATBAN]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TATBAN]
@id_ban int,
@id_hoadon int
as
begin
	-- Cập nhật trạng thái cho bàn
	UPDATE BAN
	SET TRANGTHAI = 0,GIORA = getdate()
	where ID_BAN = @id_ban
	-- Tính tổng số giờ chơi của bàn có id_hoadon
	UPDATE HOADON 
	SET TONGGIOCHOI = (SELECT GIORA-GIOVAO FROM BAN WHERE ID_BAN =@id_ban) 
	where ID_HOADON = @id_hoadon
end
GO
/****** Object:  StoredProcedure [dbo].[ThemMoiThucPhamVaoHoaDon]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemMoiThucPhamVaoHoaDon]
@id_hoadon int,
@soluong int,
@id_thucpham int
as
begin
	insert into CHITIETHD
	Values (@id_hoadon,@id_thucpham,@soluong)

	update THUCPHAM
	set SOLUONG = SOLUONG - @soluong
	where ID_THUCPHAM = @id_thucpham
end
GO
/****** Object:  StoredProcedure [dbo].[XOAMATHANG]    Script Date: 15/04/2018 11:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XOAMATHANG]
@idHoaDon int,
@idThucPham int,
@soluong int
as
begin
	delete CHITIETHD
	where ID_HOADON = @idHoaDon and @idThucPham = @idThucPham

	update THUCPHAM
	SET SOLUONG = SOLUONG + @soluong
	where ID_THUCPHAM= @idThucPham
end
GO
